<h2>Coin form</h2>
<form [formGroup]="form">
  <div>
    Name <input type="text" formControlName="name">
  </div>
  <div>
    Base Asset <input type="text" formControlName="baseAsset">
  </div>
  <div>
    Quote Asset <input type="text" formControlName="quoteAsset">
  </div>
  <div>
    Last Price <input type="text" formControlName="lastPrice">
  </div>
  <div>
    Volumn 24h <input type="text" formControlName="volumn24h">
  </div>
  <div>
    <select formControlName="marketId">
      <option *ngFor="let market of markets" [ngValue]="market.id">{{market.name}}</option>
    </select>
  </div>
  <div>
    <input type="submit" (click)="doSubmit()">
  </div>
</form>
