<h2>Market form</h2>
<form [formGroup]="form">
  <div>
    Name <input type="text" formControlName="name">
  </div>
  <div>
    Description <input type="text" formControlName="description">
  </div>
  <div>
    <input type="submit" (click)="doSubmit()">
  </div>
</form>
